@import "../../vars.css";

.container {
  color: var(--color-text);
  background-color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 58px 10%;
  margin-top: 30px;
  width: 100vw;
  gap: 60px;
  flex-wrap: wrap;
}

.text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 0;
}

.links {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px 60px;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  gap: 15px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.phone {
  width: 45px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 40px;
    padding: 40px 5%;
  }

  .text {
    justify-content: center;
  }

  .links {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
