:root {
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --colour-dark: #0b2447;
    --color-bg: #04152d;
    --color-third: #2b4c89;
    --color-four: #7f90d3;

    --font-roboto: "Roboto";
}