:root {
    --color-text: #fff;
    --color-primary: #64ac51;
    --color-secondary: #266d19;
    --colour-dark: #0e470b;
    --color-bg: #042d05;
    --color-third: #2b8936;
    --color-four: #7fd387;

    --font-roboto: "Roboto";
}